img{
    width: 400px;    
    border-radius: 100%;
    box-shadow: 10px 10px 10px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(180, 182, 185);
}