body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
    
}

#todo-form{
 display: flex;
 justify-content: center;
 gap: 10px;
}

#todo-list{
    margin: 30 auto;
    background-color:rgb(51, 80, 63);
    width: 500px;

    border-radius: 10px;
}



.todo-item{
  padding: 10px;
  margin: 10px;
  background-color:rgb(182, 216, 197);
  border-radius:20px;
  border: 2px solid rgb(65, 64, 21);
  display: flex;
  justify-content: space-between;
}


.completed{
text-decoration: line-through;
background-color:rgb(164, 226, 156)


}

.btn-excluir{
    background-color: rgb(238, 79, 68);
    border: rgb(197, 94, 88);
    border-radius: 6px;
    
}

button{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor:pointer;
    }